
.cabecalho{
	width: 100%;
	height: 80px;
	background-image: linear-gradient(to right, #66CDAA , #48D1CC);
}

.margemc{
	width: 100%;
	height: 20px;
	background-image: linear-gradient(to right, #20B2AA , #008B8B);
}

.logotipo{
	margin-top: 1%;
	margin-left: 1%;
}


.container{
	width: 100%;
	height: 900px;
	background-color:#1C1C1C;
}


.rodape{
	width: 100%;
	height: 20px;
	background-image: linear-gradient(to right, #20B2AA , #008B8B);
}

.rodape2{
	width: 100%;
	height: 80px;
	background-image: linear-gradient(to right, #66CDAA , #48D1CC);
	color: #008B8B;
	text-align: center;
	font-family: monospace;
	padding-top: 1%;
}


.adote{
	margin-top: 9%;
	width: 20%;
	height: 250px;
	background-color: #008B8B;
	float: left;
	display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 1%;
    margin-left: 3%;
    border-radius: 5px;

}

.adote:hover{
	background-image: linear-gradient(to right, #66CDAA , #48D1CC);
	box-shadow: 2px 2px 2px 2px black;
	cursor:pointer;
}


.imagens{
	margin: 20%;
}

.button{
	width: 10%;
	height: 30px;
	background-color: #8A2BE2;
	border-radius: 5px;
	float: right;
	margin-top: 1.5%;
	margin-right: 1%;
	color: white;
	font-family: monospace;
	text-align: center;
	padding-top: 1%;
}

.button:hover{
	background-image: linear-gradient(to right, #4B0082 , #9932CC);
	cursor:pointer;
}



.tipos{
    margin-top: 9%;
	width: 90%;
	height: 250px;
	background-color: #008B8B;
	float: left;
	display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 1%;
    margin-left:5%;
    border-radius: 5px;
    
}
.blocotipos{
        margin-top: 4%;
	width: 20%;
	height: 390px;
        background-color: #ffffff;
	float: left;
	
         margin-left: 4%;
         border-radius: 50px;
         border-color: #66CDAA;
  
         
}

.escolha{
    margin-top: 4%;
        width: 100%;
	height: 100px;
       text-align: center;
	float: left;
	font-family: sans-serif;
        position: relative;
        
}
.btnadocao{
    
    width: 60%;
	height: 40px;
        background-color: #ff3333;
        font-family: monospace;
       border-radius: 10px;
    
}

.logo{
     width: 90px;
	height: 60px;
    
}
